@model SolarSystem.Mars.Model.ManagersService.News

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Suppression d'une news</h2>

<h3>Etes-vous sûr de vouloir supprimer cette news ?</h3>

<fieldset>
    <legend>News</legend>
    
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Titre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Titre)
    </div>

    <div class="display-label">
         Date d'édition
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Date_Heure)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Image)
    </div>
    <div class="display-field">
        <img src="@Url.Content(Model.Image)" style="max-height: 150px; max-width: 150px;" alt="@Model.Titre" />
    </div>

    <div class="display-label">
         Mots clés
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Mots_Cles)
    </div>

    <div class="display-label">
         Publiée ?
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Publiee)
    </div>

    <div class="display-label">
         Texte d'accroche
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Texte_Court)
    </div>

    <div class="display-label">
         Contenu
    </div>
    <div class="display-field">
        @Html.Raw(Model.Texte_Long)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.URL)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.URL)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Supprimer définitivement la news" class="btn btn-danger btn-lg btn-block" /><br />
        @Html.ActionLink("Retour à la liste", "Index", null, new { @class = "btn btn-default btn-lg btn-block" })
    </p>
}
