@using System.Web.Optimization
@using SolarSystem.Mars.ViewController.Resources

@model SolarSystem.Mars.ViewController.ViewModels.NewsViewModel

@{
    ViewBag.Title = Model.Id == 0 ? PagesTitlesRessources.News_Create : PagesTitlesRessources.News_Edit;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<div>&nbsp;</div>

@using (Html.BeginForm("Manage", "News", FormMethod.Post, new { enctype = "multipart/form-data", @role = "form" }))
{

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, ErrorRessources.ValidationErrorMessage, new { @class = "container alert alert-danger" })

    <div style="margin-left: auto; margin-right: auto; width:60%">

        @* Title *@
        <div class="form-group">
            @Html.LabelFor(model => model.Title, ContentRessources.NewsTitle)
            @Html.TextBoxFor(model => model.Title, new { @class = "form-control", @placeholder = ContentRessources.NewsTitle })

            @Html.ValidationMessageFor(model => model.Title)
        </div>
        
        @* URL *@
        <div class="form-group">
            @Html.LabelFor(model => model.Url, ContentRessources.URL)
            @Html.TextBoxFor(model => model.Url, new { @class = "input-group input-group-sm", @disabled = "disabled" })

            @Html.ValidationMessageFor(model => model.Url)
        </div>

        @* Author *@
        <div class="form-group">
            @Html.DropDownListFor(model => model.AuthorId,
                                new SelectList(ViewBag.Members, "Id", "Name"),
                                DefaultSelectionMessagesRessources.Author,
                                new { @class = "form-control" })

            @Html.ValidationMessageFor(model => model.AuthorId, string.Empty, new { @style = "color: red" })
        </div>

        @* Image *@
        <div class="form-group">
            @Html.LabelFor(model => model.ImageUrl, ContentRessources.Image)
            <input type="file" name="file" class="btn btn-default" />

            @Html.ValidationMessageFor(model => model.ImageUrl)
        </div>

        @* Keywords *@
        <div class="form-group">
            @Html.LabelFor(model => model.Keywords, ContentRessources.Keywords)
            @Html.TextBoxFor(model => model.Keywords, new { @class = "form-control", placeholder = ContentRessources.Keywords })

            <span class="help-block">@ContentRessources.Keywords_Recommandation</span>
            @Html.ValidationMessageFor(model => model.Keywords)
        </div>
        
        @* Is published ? *@
        <div class="form-group">
            @Html.LabelFor(model => model.IsPublished, ContentRessources.IsPublished)
            @Html.CheckBoxFor(model => model.IsPublished)

            @Html.ValidationMessageFor(model => model.IsPublished)
        </div> 
        
        @*Short text *@
        <div class="form-group">
            @Html.LabelFor(model => model.ShortText, ContentRessources.ShortText)
            @Html.TextBoxFor(model => model.ShortText, new { @class = "form-control", placeholder = ContentRessources.ShortText })

            @Html.ValidationMessageFor(model => model.ShortText)
        </div>
        
        @* Text *@
        <div class="form-group">
            @Html.LabelFor(model => model.Text, ContentRessources.Text)
            @Html.TextAreaFor(model => model.Text, new { @id = "editor", @class = "form-control" })

            @Html.ValidationMessageFor(model => model.Text)
        </div>

        <p>
            <input type="submit" value="@ContentRessources.Valid" class="btn btn-primary btn-lg btn-block" />
        </p>
    </div>
}

<div>
    @Html.ActionLink(ContentRessources.Back, "Index", null, new { @class = "btn btn-default btn-lg btn-block" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/ckeditor")
}

<script>
    window.onload = function () {
        CKEDITOR.replace('editor');

        $('#Title').keyup(function (event) {
            $('#Url').attr('value', event.target.value.replace(/[ ]+/g, '-').replace(/[^-a-zA-Z]/g, ''));
        });
        $('#Url').keypress(function (event) {
            event.preventDefault();
        });
    };
</script>