@using System.Web.Optimization
@model SolarSystem.Mars.Model.ManagersService.Salon

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Salon</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Code_Salon)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Code_Salon)
            @Html.ValidationMessageFor(model => model.Code_Salon)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Date_Heure_Debut)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Date_Heure_Debut)
            @Html.ValidationMessageFor(model => model.Date_Heure_Debut)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Date_Heure_Fin)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Date_Heure_Fin)
            @Html.ValidationMessageFor(model => model.Date_Heure_Fin)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Image)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Image)
            @Html.ValidationMessageFor(model => model.Image)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Lieu)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Lieu)
            @Html.ValidationMessageFor(model => model.Lieu)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nom)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nom)
            @Html.ValidationMessageFor(model => model.Nom)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Publie)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Publie)
            @Html.ValidationMessageFor(model => model.Publie)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.URL)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.URL)
            @Html.ValidationMessageFor(model => model.URL)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
