@model SolarSystem.Mars.Model.ManagersService.Conference

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>Conference</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Code_Conference)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Code_Conference)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Date_Heure_Debut)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Date_Heure_Debut)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Date_Heure_Fin)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Date_Heure_Fin)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Image)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Image)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Lieu)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Lieu)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nom)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nom)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Publiee)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Publiee)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.URL)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.URL)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Code_Conference }) |
    @Html.ActionLink("Back to List", "Index")
</p>
