@model SolarSystem.Mars.Model.ManagersService.Projet

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>Projet</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Avancement)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Avancement)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Code_Projet)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Code_Projet)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Image)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Image)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nom)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nom)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Code_Projet }) |
    @Html.ActionLink("Back to List", "Index")
</p>
