@using System.Web.Optimization

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - Portail d'administration EPSILab</title>
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", false)

    @Styles.Render("~/Content/css")
    @RenderSection("styles", false)

    <script type="text/javascript">
        $(".alert").alert();
    </script>
</head>
<body>
    <br />
    <div class="container">
        <nav class="navbar navbar-default navbar-static-top" role="navigation">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <img src="~/Assets/Logo.png" style="margin-right: 17px; margin-top: 3px" alt="EPSILab" width="129" height="40" />
                </li>
            </ul>
        </nav>

        <br />

        @if (!string.IsNullOrWhiteSpace(ViewBag.Message))
        {
            <div class="container alert alert-success fade in">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <p>@ViewBag.Message</p>
            </div>
        }

        @if (!string.IsNullOrWhiteSpace(ViewBag.ExceptionMessage))
        {
            <div class="container alert alert-danger fade in">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <p>@ViewBag.ExceptionMessage</p>
            </div>
        }

        @RenderBody()
    </div>
</body>
</html>