@using System.Web.Optimization
@using SolarSystem.Mars.Model.ManagersService
@using SolarSystem.Mars.ViewController.Resources

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - Portail d'administration EPSILab</title>
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", false)

    @Styles.Render("~/Content/css")
</head>
<body>
    <br />
    <div class="container">
        <nav class="navbar navbar-default navbar-static-top" role="navigation">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink(PagesTitlesRessources.LogOn, "LogOn", "Home")</li>
                <li>@Html.ActionLink(PagesTitlesRessources.EditProfile, "EditProfile", "Home")</li>
                <li>@Html.ActionLink(PagesTitlesRessources.LogOut, "LogOut", "Home")</li>
            </ul>
            <ul class="nav navbar-nav navbar-right hidden-xs hidden-sm">
                <li class="navbar-text">
                    @{
                        var currentUser = (Member)Session["CurrentUser"];
                        @Html.Raw(string.Format(ContentRessources.ConnectedAs, currentUser.FirstName, currentUser.LastName))
                    }
                </li>
                <li>
                    <img src="~/Assets/Logo.png" style="margin-right: 17px; margin-top: 3px" alt="EPSILab" width="129" height="40" />
                </li>
            </ul>
        </nav>

        <div id="successMessage" class="container alert alert-success fade in">
            <button type="button" class="close">&times;</button>
            <p id="successMessageContent"></p>
        </div>

        <div id="errorMessage" class="container alert alert-danger fade in">
            <button type="button" class="close">&times;</button>
            <p id="errorMessageContent"></p>
        </div>

        @RenderBody()
        
        <script type="text/javascript">
            $('#successMessage').hide();
            $('#errorMessage').hide();

            $('.close').click(function () {
                $('#successMessage').fadeOut();
                $('#errorMessage').fadeOut();
            });
        </script>
    </div>
</body>
</html>