@using SolarSystem.Mars.Model.ManagersService
@using SolarSystem.Mars.ViewController.Resources

@{
    Layout = "~/Views/Shared/_LayoutBase.cshtml";
}

@section styles{
    @RenderSection("styles", false)
}
@section scripts{
    @RenderSection("scripts", false)
}

@section header
{
    @{
        Member currentUser = (Member)Session["CurrentUser"];
    }

    <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink(PagesTitlesRessources.LogOn, "LogOn", "Home")</li>
            <li>@Html.ActionLink(PagesTitlesRessources.EditProfile, "EditProfile", "Home")</li>
            <li>@Html.ActionLink(PagesTitlesRessources.EditPassword, "EditPassword", "Home")</li>
            <li>@Html.ActionLink(PagesTitlesRessources.LogOut, "LogOut", "Home")</li>
        </ul>
        <ul class="nav navbar-nav navbar-right hidden-xs hidden-sm hidden-md">
            <li>
                <img class="img-responsive" src="@currentUser.ImageUrl" alt="" style="margin: 5px auto; max-width: 40px; max-height: 40px;" />
            </li>
            <li class="navbar-text">
                @Html.Raw(string.Format(ContentRessources.ConnectedAs, currentUser.FirstName, currentUser.LastName))
            </li>
            <li>
                <a href="@Url.Action("Index", "Home")" style="display: inline">
                    <img src="~/Assets/Logo.png" style="margin-right: 17px; margin-top: 3px" alt="EPSILab" width="129" height="40" />
                </a>
            </li>
        </ul>
    </nav>
}

@RenderBody()