@using SolarSystem.Mars.Model.ManagersService
@using SolarSystem.Mars.ViewController.Resources

@{
    Layout = "~/Views/Shared/_LayoutBase.cshtml";
}

@section styles{
    @RenderSection("styles", false)
}
@section scripts{
    @RenderSection("scripts", false)
}

@section header
{
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink(PagesTitlesRessources.LogOn, "LogOn", "Home")</li>
            <li>@Html.ActionLink(PagesTitlesRessources.EditProfile, "EditProfile", "Home")</li>
            <li>@Html.ActionLink(PagesTitlesRessources.EditPassword, "EditPassword", "Home")</li>
            <li>@Html.ActionLink(PagesTitlesRessources.LogOut, "LogOut", "Home")</li>
        </ul>
        <ul class="nav navbar-nav navbar-right hidden-xs hidden-sm">
            <li class="navbar-text">
                @{
                    var currentUser = (Member)Session["CurrentUser"];
                    @Html.Raw(string.Format(ContentRessources.ConnectedAs, currentUser.FirstName, currentUser.LastName))
                }
            </li>
            <li>
                <img src="~/Assets/Logo.png" style="margin-right: 17px; margin-top: 3px" alt="EPSILab" width="129" height="40" />
            </li>
        </ul>
    </nav>
}

@RenderBody()