@model IEnumerable<SolarSystem.Mars.Model.ManagersService.Slide>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutNotConnected.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Manage New", "Manage")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Code_Slide)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Presentation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Publiee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.URL)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Code_Slide)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Image)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Presentation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Publiee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.URL)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Code_Slide }) |
            @Html.ActionLink("Details", "Details", new { id = item.Code_Slide }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Code_Slide })
        </td>
    </tr>
}

</table>
