@using System.Web.Optimization
@model SolarSystem.Mars.Model.ManagersService.Membre

@{
    ViewBag.Title = "Create";
    Layout = "../Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Membre</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Code_Membre)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Code_Membre)
            @Html.ValidationMessageFor(model => model.Code_Membre)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email_EPSI)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email_EPSI)
            @Html.ValidationMessageFor(model => model.Email_EPSI)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email_perso)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email_perso)
            @Html.ValidationMessageFor(model => model.Email_perso)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Image)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Image)
            @Html.ValidationMessageFor(model => model.Image)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Mot_de_passe)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Mot_de_passe)
            @Html.ValidationMessageFor(model => model.Mot_de_passe)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Motivations)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Motivations)
            @Html.ValidationMessageFor(model => model.Motivations)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nom)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nom)
            @Html.ValidationMessageFor(model => model.Nom)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Prenom)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Prenom)
            @Html.ValidationMessageFor(model => model.Prenom)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Presentation)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Presentation)
            @Html.ValidationMessageFor(model => model.Presentation)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Pseudo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Pseudo)
            @Html.ValidationMessageFor(model => model.Pseudo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Site_web)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Site_web)
            @Html.ValidationMessageFor(model => model.Site_web)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Statut)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Statut)
            @Html.ValidationMessageFor(model => model.Statut)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Telephone_mobile)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Telephone_mobile)
            @Html.ValidationMessageFor(model => model.Telephone_mobile)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.URL)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.URL)
            @Html.ValidationMessageFor(model => model.URL)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.URL_Facebook)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.URL_Facebook)
            @Html.ValidationMessageFor(model => model.URL_Facebook)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.URL_LinkedIn)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.URL_LinkedIn)
            @Html.ValidationMessageFor(model => model.URL_LinkedIn)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.URL_Twitter)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.URL_Twitter)
            @Html.ValidationMessageFor(model => model.URL_Twitter)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.URL_Viadeo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.URL_Viadeo)
            @Html.ValidationMessageFor(model => model.URL_Viadeo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Ville_origine)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Ville_origine)
            @Html.ValidationMessageFor(model => model.Ville_origine)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
