@model IEnumerable<SolarSystem.Mars.Model.ManagersService.Show>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutNotConnected.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Manage New", "Manage")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Code_Show)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date_Heure_Debut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date_Heure_Fin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lieu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Publie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.URL)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Code_Show)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date_Heure_Debut)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date_Heure_Fin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Image)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lieu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Publie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.URL)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Code_Show }) |
            @Html.ActionLink("Details", "Details", new { id = item.Code_Show }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Code_Show })
        </td>
    </tr>
}

</table>
