@model IEnumerable<SolarSystem.Mars.Model.ManagersService.Classe>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Annee_Promo_Sortante)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Code_Classe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Encore_Presente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Libelle)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Annee_Promo_Sortante)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Code_Classe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Encore_Presente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Libelle)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Code_Classe }) |
            @Html.ActionLink("Details", "Details", new { id=item.Code_Classe }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Code_Classe })
        </td>
    </tr>
}

</table>
