@using SolarSystem.Mars.ViewController.Resources

@model SolarSystem.Mars.ViewController.ViewModels.Concrete.EditPasswordViewModel

@{
    ViewBag.Title = PagesTitlesRessources.EditPassword;
    Layout = "~/Views/Shared/_LayoutConnected.cshtml";
}

<div class="jumbotron col-md-8 col-md-offset-2">

    <p>@ViewBag.Title</p>
    <div>@Html.Raw(ContentRessources.EditPasswordText)</div>
    <br />

    <div class="form-horizontal">

        @using (Html.BeginForm())
        {
            @* New Password *@
            <div class="form-group">
                <label class="col-sm-4 control-label">@ContentRessources.OldPassword *</label>
                <div class="col-sm-8">
                    @Html.PasswordFor(model => model.OldPassword, new { @class = "form-control", @placeholder = ContentRessources.OldPassword })
                    @Html.ValidationMessageFor(model => model.OldPassword, string.Empty, new { @style = "color: red" })
                </div>
            </div>
            
            @* Old Password *@
            <div class="form-group">
                <label class="col-sm-4 control-label">@ContentRessources.NewPassword *</label>
                <div class="col-sm-8">
                    @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control", @placeholder = ContentRessources.NewPassword })
                    @Html.ValidationMessageFor(model => model.NewPassword, string.Empty, new { @style = "color: red" })
                </div>
            </div>

            @* Old Password confirmation *@
            <div class="form-group">
                <label class="col-sm-4 control-label">@ContentRessources.ConfirmNewPassword *</label>
                <div class="col-sm-8">
                    @Html.PasswordFor(model => model.ConfirmNewPassword, new { @class = "form-control", @placeholder = ContentRessources.ConfirmNewPassword })
                    @Html.ValidationMessageFor(model => model.ConfirmNewPassword, string.Empty, new { @style = "color: red" })
                </div>
            </div>

            @* Send button *@
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-10">
                    <button type="submit" class="btn btn-primary">@ContentRessources.EditPassword</button>
                </div>
            </div>

            @* Register and Lost Password links *@
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-10">
                    @Html.ActionLink(PagesTitlesRessources.Home, "Index")
                </div>
            </div>
        }
    </div>
</div>