@using SolarSystem.Mars.ViewController.Resources

@model SolarSystem.Mars.Model.ManagersService.Member

@{
    ViewBag.Title = PagesTitlesRessources.Home;
    Layout = "../Shared/_LayoutConnected.cshtml";
}

<ol class="breadcrumb">
    <li class="active">@ViewBag.Title</li>
</ol>

<div class="col-xs-6 col-sm-4">
    <h2>@ContentRessources.News</h2>
    <ul>
        <li>
            @Html.ActionLink(PagesTitlesRessources.News_Create, "Manage", "News")
        </li>
        <li>
            @Html.ActionLink(PagesTitlesRessources.News, "Index", "News")
        </li>
    </ul>
</div>

<div class="col-xs-6 col-sm-4">
    <h2>@ContentRessources.Slideshow</h2>
    <ul>
        <li>
            @Html.ActionLink(PagesTitlesRessources.Slideshow, "Manage", "Slideshow")
        </li>
        <li>
            @Html.ActionLink(PagesTitlesRessources.Slideshow_Create, "Index", "Slideshow")
        </li>
    </ul>
</div>

<div class="col-xs-6 col-sm-4">
    <h2>@ContentRessources.Conferences</h2>
    <ul>
        <li>
            @Html.ActionLink(PagesTitlesRessources.Conferences_Create, "Manage", "Conferences")
        </li>
        <li>
            @Html.ActionLink(PagesTitlesRessources.Conferences, "Index", "Conferences")
        </li>
    </ul>
</div>

<div class="col-xs-6 col-sm-4">
    <h2>@ContentRessources.Projects</h2>
    <ul>
        <li>
            @Html.ActionLink(PagesTitlesRessources.Projects_Create, "Manage", "Projects")
        </li>
        <li>
            @Html.ActionLink(PagesTitlesRessources.Projects, "Index", "Projects")
        </li>
    </ul>
</div>

<div class="col-xs-6 col-sm-4">
    <h2>@ContentRessources.Shows</h2>
    <ul>
        <li>
            @Html.ActionLink(PagesTitlesRessources.Shows_Create, "Manage", "Shows")
        </li>
        <li>
            @Html.ActionLink(PagesTitlesRessources.Shows, "Index", "Shows")
        </li>
    </ul>
</div>

<div class="col-xs-6 col-sm-4">
    <h2>@ContentRessources.Links</h2>
    <ul>
        <li>
            @Html.ActionLink(PagesTitlesRessources.Links_Create, "Manage", "Links")
        </li>
        <li>
            @Html.ActionLink(PagesTitlesRessources.Links, "Index", "Links")
        </li>
    </ul>
</div>

<div class="col-xs-6 col-sm-4">
    <h2>@ContentRessources.Members</h2>
    <ul>
        <li>
            @Html.ActionLink(PagesTitlesRessources.Members_Valid, "Valid", "Members")
        </li>
        <li>
            @Html.ActionLink(PagesTitlesRessources.Members_Create, "Manage", "Members")
        </li>
        <li>
            @Html.ActionLink(PagesTitlesRessources.Members, "Index", "Members")
        </li>
    </ul>
</div>

<div class="col-xs-6 col-sm-4">
    <h2>@ContentRessources.Others</h2>
    <ul>
        <li>
            @Html.ActionLink(PagesTitlesRessources.Promotions, "Index", "Promotions")
        </li>
        <li>
            @Html.ActionLink(PagesTitlesRessources.Campuses, "Index", "Campuses")
        </li>
    </ul>
</div>