@using System.Web.Optimization
@using SolarSystem.Mars.ViewController.Resources

@model SolarSystem.Mars.ViewController.ViewModels.Concrete.RegisterViewModel

@{
    ViewBag.Title = PagesTitlesRessources.Register;
    Layout = "~/Views/Shared/_LayoutNotConnected.cshtml";
}

<h1>@ViewBag.Title</h1>
<br />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, ErrorRessources.ValidationErrorMessage, new { @class = "container alert alert-danger" })

    @* Authentification informations *@
    <fieldset class="col-md-5 col-md-offset-4 form-horizontal">
        <legend>@ContentRessources.AuthentificationInformations</legend>

        @* Username *@
        <div class="form-group">
            <label class="col-sm-4 control-label">@ContentRessources.Username *</label>
            <div class="col-sm-8">
                @Html.TextBoxFor(model => model.Username, new { @class = "form-control", @placeholder = ContentRessources.Username })
                @Html.ValidationMessageFor(model => model.Username, string.Empty, new { @style = "color: red" })
            </div>
        </div>

        @* Password *@
        <div class="form-group">
            <label class="col-sm-4 control-label">@ContentRessources.Password *</label>
            <div class="col-sm-8">
                @Html.PasswordFor(model => model.Password, new { @class = "form-control", @placeholder = ContentRessources.Password })
                @Html.ValidationMessageFor(model => model.Password, string.Empty, new { @style = "color: red" })
            </div>
        </div>

        @* Password confirmation *@
        <div class="form-group">
            <label class="col-sm-4 control-label">@ContentRessources.ConfirmPassword *</label>
            <div class="col-sm-8">
                @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", @placeholder = ContentRessources.ConfirmPassword })
                @Html.ValidationMessageFor(model => model.ConfirmPassword, string.Empty, new { @style = "color: red" })
            </div>
        </div>
    </fieldset>

    @* Personal informations *@
    <fieldset class="col-md-5 col-md-offset-4 form-horizontal">
        <legend>@ContentRessources.PersonalInformations</legend>

        @* Last name *@
        <div class="form-group">
            <label class="col-sm-4 control-label">@ContentRessources.LastName *</label>
            <div class="col-sm-8">
                @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", @placeholder = ContentRessources.LastName })
                @Html.ValidationMessageFor(model => model.LastName, string.Empty, new { @style = "color: red" })
            </div>
        </div>

        @* First name *@
        <div class="form-group">
            <label class="col-sm-4 control-label">@ContentRessources.FirstName *</label>
            <div class="col-sm-8">
                @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", @placeholder = ContentRessources.FirstName })
                @Html.ValidationMessageFor(model => model.FirstName, string.Empty, new { @style = "color: red" })
            </div>
        </div>

        @* City from *@
        <div class="form-group">
            <label class="col-sm-4 control-label">@ContentRessources.CityFrom *</label>
            <div class="col-sm-8">
                @Html.TextBoxFor(model => model.CityFrom, new { @class = "form-control", @placeholder = ContentRessources.CityFrom })
                @Html.ValidationMessageFor(model => model.CityFrom, string.Empty, new { @style = "color: red" })
            </div>
        </div>
    </fieldset>

    @* Contact informations *@
    <fieldset class="col-md-5 col-md-offset-4 form-horizontal">
        <legend>@ContentRessources.ContactInformations</legend>

        @* EPSI email *@
        <div class="form-group">
            <label class="col-sm-4 control-label">@ContentRessources.EPSIEmail *</label>
            <div class="col-sm-8">
                @Html.TextBoxFor(model => model.EPSIEmail, new { @class = "form-control", @type = "email", @placeholder = ContentRessources.EPSIEmail_PlaceHorder })
                @Html.ValidationMessageFor(model => model.EPSIEmail, string.Empty, new { @style = "color: red" })
            </div>
        </div>

        @* Personal email *@
        <div class="form-group">
            <label class="col-sm-4 control-label">@ContentRessources.PersonalEmail</label>
            <div class="col-sm-8">
                @Html.TextBoxFor(model => model.PersonalEmail, new { @class = "form-control", @type = "email", @placeholder = ContentRessources.PersonalEmail_PlaceHolder })
                @Html.ValidationMessageFor(model => model.PersonalEmail, string.Empty, new { @style = "color: red" })
            </div>
        </div>

        @* Phone number *@
        <div class="form-group">
            <label class="col-sm-4 control-label">@ContentRessources.PhoneNumber</label>
            <div class="col-sm-8">
                @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control", @placeholder = ContentRessources.PhoneNumber_PlaceHolder })
                @Html.ValidationMessageFor(model => model.PhoneNumber, string.Empty, new { @style = "color: red" })
            </div>
        </div>
        
        @* Presentation *@
        <div class="form-group">
            <label class="col-sm-4 control-label">@ContentRessources.Presentation *</label>
            <div class="col-sm-8">
                @Html.TextAreaFor(model => model.Presentation, new { @id = "editor", @class = "form-control", @placeholder = ContentRessources.Presentation })
                @Html.ValidationMessageFor(model => model.Presentation, string.Empty, new { @style = "color: red" })
            </div>
        </div>

    </fieldset>

    @* EPSI informations *@
    <fieldset class="col-md-5 col-md-offset-4 form-horizontal">
        <legend>@ContentRessources.EPSIInformations</legend>

        @* Campus *@
        <div class="form-group">
            <label class="col-sm-4 control-label">Campus *</label>
            <div class="col-sm-8">
                @Html.DropDownListFor(model => model.IdCampus,
                                      new SelectList(ViewBag.Campuses, "Id", "Place"),
                                      DefaultSelectionMessagesRessources.Campus,
                                      new { @class = "form-control" })

                @Html.ValidationMessageFor(model => model.IdCampus, string.Empty, new { @style = "color: red" })
            </div>
        </div>

        @* Promotion *@
        <div class="form-group">
            <label class="col-sm-4 control-label">Promo *</label>
            <div class="col-sm-8">
                @Html.DropDownListFor(model => model.IdPromotion,
                               new SelectList(ViewBag.Promotions, "Id", "Name"),
                                      DefaultSelectionMessagesRessources.Promotion,
                                      new { @class = "form-control" })

                @Html.ValidationMessageFor(model => model.IdPromotion, string.Empty, new { @style = "color: red" })
            </div>
        </div>

    </fieldset>

    @* Personal website and social networks *@
    <fieldset class="col-md-5 col-md-offset-4 form-horizontal">
        <legend>@ContentRessources.SocialInformations</legend>

        @* Website *@
        <div class="form-group">
            <label class="col-sm-4 control-label">@ContentRessources.Website</label>
            <div class="col-sm-8">
                @Html.TextBoxFor(model => model.Website, new { @class = "form-control", @placeholder = ContentRessources.Website_PlaceHolder })

                <span class="help-block">@ContentRessources.Website_Recommandation</span>
                @Html.ValidationMessageFor(model => model.Website, string.Empty, new { @style = "color: red" })
            </div>
        </div>

        @* Facebook page *@
        <div class="form-group">
            <label class="col-sm-4 control-label">@ContentRessources.Facebook</label>
            <div class="col-sm-8">
                @Html.TextBoxFor(model => model.FacebookUrl, new { @class = "form-control", @placeholder = ContentRessources.Facebook_PlaceHolder })

                <span class="help-block">@ContentRessources.Facebook_Recommandation</span>
                @Html.ValidationMessageFor(model => model.FacebookUrl, string.Empty, new { @style = "color: red" })
            </div>
        </div>

        @* Twitter page *@
        <div class="form-group">
            <label class="col-sm-4 control-label">@ContentRessources.Twitter</label>
            <div class="col-sm-8">
                @Html.TextBoxFor(model => model.TwitterUrl, new { @class = "form-control", @placeholder = ContentRessources.Twitter_PlaceHolder })

                <span class="help-block">@ContentRessources.Twitter_Recommandation</span>
                @Html.ValidationMessageFor(model => model.TwitterUrl, string.Empty, new { @style = "color: red" })
            </div>
        </div>

        @* LinkedIn page *@
        <div class="form-group">
            <label class="col-sm-4 control-label">@ContentRessources.LinkedIn</label>
            <div class="col-sm-8">
                @Html.TextBoxFor(model => model.LinkedInUrl, new { @class = "form-control", @placeholder = ContentRessources.LinkedIn_PlaceHolder })

                <span class="help-block">@ContentRessources.LinkedIn_Recommandation</span>
                @Html.ValidationMessageFor(model => model.LinkedInUrl, string.Empty, new { @style = "color: red" })
            </div>
        </div>

        @* Viadeo page *@
        <div class="form-group">
            <label class="col-sm-4 control-label">@ContentRessources.Viadeo</label>
            <div class="col-sm-8">
                @Html.TextBoxFor(model => model.ViadeoUrl, new { @class = "form-control", @placeholder = ContentRessources.Viadeo_PlaceHolder })

                <span class="help-block">@ContentRessources.Viadeo_Recommandation</span>
                @Html.ValidationMessageFor(model => model.ViadeoUrl, string.Empty, new { @style = "color: red" })
            </div>
        </div>

        @* GitHub page *@
        <div class="form-group">
            <label class="col-sm-4 control-label">@ContentRessources.GitHub</label>
            <div class="col-sm-8">
                @Html.TextBoxFor(model => model.GitHubUrl, new { @class = "form-control", @placeholder = ContentRessources.GitHub_PlaceHolder })

                <span class="help-block">@ContentRessources.GitHub_Recommandation</span>
                @Html.ValidationMessageFor(model => model.GitHubUrl, string.Empty, new { @style = "color: red" })
            </div>
        </div>

    </fieldset>

    @* Valid button *@
    <div class="form-group">
        <div class="col-sm-offset-5 col-sm-10">
            <button type="submit" class="btn btn-primary">@ContentRessources.ValidAccountRequest</button>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/ckeditor")

    <script type="text/javascript">
        $(document).ready(function () {
            // CKEditor for Text field
            CKEDITOR.replace('editor');
        });
    </script>
}