@using SolarSystem.Mars.ViewController.Resources

@model SolarSystem.Mars.ViewController.ViewModels.Concrete.ResetPasswordViewModel

@{
    ViewBag.Title = PagesTitlesRessources.ResetPassword;
    Layout = "~/Views/Shared/_LayoutNotConnected.cshtml";
}

<div class="jumbotron col-md-8 col-md-offset-2">

    <p>@ViewBag.Title</p>
    <div>@Html.Raw(ContentRessources.ResetPasswordText)</div>
    <br />

    <div class="form-horizontal">

        @using (Html.BeginForm(Html.BeginForm("ResetPassword", "Home", FormMethod.Post, new { enctype = "multipart/form-data" })))
        {
            @* Key *@
            @Html.HiddenFor(model => model.Key)
            
            @* Username *@
            <div class="form-group">
                @Html.LabelFor(model => model.Username, new { @class = "col-sm-4 control-label" })
                <div class="col-sm-8">
                    @Html.DisplayFor(model => model.Username, new { @class = "form-control", @placeholder = ContentRessources.Username })
                </div>
            </div>

            @* Password *@
            <div class="form-group">
                <label class="col-sm-4 control-label">@ContentRessources.Password *</label>
                <div class="col-sm-8">
                    @Html.PasswordFor(model => model.Password, new { @class = "form-control", @placeholder = ContentRessources.Password })
                    @Html.ValidationMessageFor(model => model.Password, string.Empty, new { @style = "color: red" })
                </div>
            </div>

            @* Password confirmation *@
            <div class="form-group">
                <label class="col-sm-4 control-label">@ContentRessources.ConfirmPassword *</label>
                <div class="col-sm-8">
                    @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", @placeholder = ContentRessources.ConfirmPassword })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, string.Empty, new { @style = "color: red" })
                </div>
            </div>

            @* Send button *@
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-10">
                    <button type="submit" class="btn btn-primary">@ContentRessources.ResetPassword</button>
                </div>
            </div>

            @* Register and Lost Password links *@
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-10">
                    @Html.ActionLink(PagesTitlesRessources.Home, "Index")
                </div>
            </div>
        }
    </div>
</div>